.div-containe-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-containe-img img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: block;
}
.div-containe-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(rgba(252, 250, 250, 0.5), #050506);
}
.div-h2-img,
.div-p-img,
.div-boton-img {
  position: absolute;
  color: #fff;
  font-family: monospace;
  display: block;
}
.div-p-img {
  top: 290px;
  color: #fff;
}
.div-boton-img {
  top: 350px;
  background-color: #cf6666;
  font-size: calc(0.4em + 0.4vw);
}
.btn {
  background-color: #f5576c8a;
  font-size: calc(0.4em + 0.4vw);
}
