/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1rem;
}
.border:hover {
  background-color: #ddd;
  border-color: transparent;
  transition: all 0.7s ease;
} */
