.container-logica {
  padding: 10px;
}
.container-logica h2 {
  font-size: calc(0.8em + 0.8vw);
  font-family: "Righteous";
  margin-bottom: 3rem;
  font-weight: bold;
}
.bagron {
  background-color: #dfdfde;
}
.container-ejercici {
  margin-top: 8rem;
 
}
