.constainer-poo {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.constainer-poo h2 {
  margin-bottom: 3rem;
  font-weight: bold;
  border-right: 5px solid #f5576c8a;
}

.container-div {
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding: 2rem;
}
