/* estilos globales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-size: calc(0.7em + 0.7vw);
  font-family: "Roboto Condensed", sans-serif;
}
html {
  font-size: 62.5%;
}
h2 {
  font-weight: bold;
  font-family: monospace;
  font-size: calc(0.7em + 0.8vw);
}
.btn {
  background-color: #f5576c8a;
  font-size: calc(0.5em + 0.5vw);
}
.paletas {
  background-color: #f5576c00;
  color: #f5576c8a;
  background-color: #f5576cd9;
}

/*SECTION THE HOME */

.imgFondo {
  background-image: url("../img/index2.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 1rem;
}
.manto {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}

.manto h2 {
  color: aliceblue;
  font-size: calc(1.8em + 1.8vw);
}
.manto p {
  color: aliceblue;
  font-size: calc(0.8em + 0.8vw);
}
hr {
  border-radius: 5px;
  width: 50%;
  border: solid 3px #f5576cd9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* SECTION DE LOGO*/
.navbar-brand h2 {
  color: #e4939ed9;
}
/* SECTION BODY INDEX */

.containerPadre {
  /* border: solid 2px red; */
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  padding: 2rem;
}
/* SECTION DE HOME  HICE INDEX*/

.container-circle {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 10px;
  padding: 2rem;
  margin-top: 3rem;
}

.div-img {
  display: grid;
  place-items: center;
  width: 100%;
  height: 300px;

  /* border: 2px solid black; */
  padding: 1rem;
}
.div-img img {
  border: 1px solid #ddd;
  overflow: hidden;
  object-fit: cover;
  width: 40%;
  height: 100%;
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
}

.div-text-p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
}

.containerFoder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.container-img-footer {
  color: #fff;
  background-image: url("../img/strin.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.manto {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0vh;
  cursor: pointer;
  overflow: hidden;
}
.formulario {
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 0 5px rgba(247, 244, 244, 0.5);
  justify-content: space-around;
  min-height: 100%;
  padding: 6rem 6.8rem 4rem;
  width: 90%;
  position: relative;
  z-index: 5;
  font-size: calc(0.5em + 0.5vw);
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.formulario input {
  border: 2px solid white;
  border-left: 0rem;
  border-right: 0rem;
  border-top: 0rem;
  color: white;
  font-size: calc(0.5em + 0.5vw);
  margin-bottom: 1rem;
}

.boton-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.boton-form button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  height: 50px;
  width: 50%;
  letter-spacing: 1px;
  margin: 10px 0px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.informacion {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 5;
}

/* SECTION DE HOME */
/* .containerPadre div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 2rem;
  height: 30vh;
  font-size: calc(0.7em + 0.7vw);
} */
/*  */

/* FUNCITON EVENTOS TAP */

.tap {
  display: none;
}

.input {
  width: 30rem;
  height: 30rem;
}
.scrol {
  width: 100%;
  background-color: beige;
  overflow-y: scroll;
}
/* resposible */

.containerImg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  padding: 2rem;
  gap: 20px;

  /* justify-content: space-between; */
}
.img img {
  filter: grayscale(30%);
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #ddd;
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
  -webkit-filter: grayscale(30%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.img img:hover {
  filter: grayscale(100%);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  -webkit-filter: grayscale(100%);
}
/* .foto1 {
}

.foto2 {
}
.foto3 {
}
.foto4 {
}
.foto5 {
}

.foto6 {
} */
