/* estilos globales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff00;
  font-size: 2rem;
}
html {
  font-size: 62.5%;
}
.paletas {
  background-color: #f5576c00;
  color: #f5576c8a;
  background-color: #f5576cd9;
}
/* secction header */
.containerHeader {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-color: rgb(41, 43, 43);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.containerHeader .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerHeader .logo h3 {
  color: rgb(252, 249, 249);
}

.containerHeader ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.containerHeader ul li a {
  display: flex;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
  color: rgb(245, 240, 240);
}
.containerHeader ul li a.actives {
  color: #f5576cd9;
}

.containerHeader ul li a:hover {
  color: #f5576cd9;
}
/* botones desplazamiento */
.btnsle {
  position: fixed;
  width: 8rem;
}
.btnsle ul li {
  display: grid;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  width: 55px;
  height: 50px;
  margin: auto 0;
  text-align: center;
  border: transparent;

  margin-top: 1rem;
  background-color: #f5576cd9;
  border: solid rgb(201, 118, 85) 2px;
}

.btnsle ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(201, 118, 85);
  color: #000;
}
.btnsle ul li.active {
  background-color: #fff;
}

.btnsle ul li:hover {
  background-color: #fff;
}
