/* LINEAS DE LA VARIABLES */
.linea {
  border-right: 5px solid #f5576c8a;
  padding-bottom: 2rem;
  background-color: #eeeeee;
  margin-bottom: 4rem;
}
.linea h2 {
  margin-bottom: 3rem;
  font-weight: bold;
}
.div-text {
  line-height: 24px;
}
.formulario {
  width: 50%;
}
.input {
  width: 50%;
  padding: 10px;
}
